# Путь к БД бота (относительный или абсолютный)
DB_PATH=../backup/bot/data/users.db

# ЮMoney API
YOOMONEY_TOKEN=ваш_токен_юmoney
YOOMONEY_RECEIVER=ваш_кошелёк_юmoney

# Секретный ключ Flask
SECRET_KEY=случайная_строка

# Админка
ADMIN_LOGIN=admin
ADMIN_PASSWORD_HASH=хеш_пароля_админа

# Путь к лоадеру
LOADER_FILE_PATH=../files/system32.exe
